@import url("../styles/dropdown.css");

:root {
  --secondary-background: #0879c9;
  --color: #fff;
  --color-hover: #eaeaea;
  --store-color: #F45C5D;
  --dark-color: #000000;
  --font-bold: 800;
  --font-semi-bold: 600;
  --font-normal: 400;
  --font-size-small: 14px;
  --font-size-normal: 18px;
  --font-size-big: 36px;
  --main-nav-bg: #f8f9fa; 
}

body, html {
   margin: 0;
   padding: 0;
}
*, *::after, *::before {
   box-sizing: border-box;
}

ul {
   list-style: none;
}


.secondary {
   height: auto;
   width: 100%;
   background-color: var(--secondary-background);
   padding: .85rem 0;
   margin-top: 0;
}

.container-nav {
   text-align: center;
   width: 100% !important;
}

.right-item ul li{
   display: inline-block;
  
}
.right-item ul {
   margin-left: -2rem;
}
.right-item li a{
   line-height: 1.5;
}
.right-item li a:hover, .left-item a:hover{
   text-decoration: none;
   color: var(--color-hover);
}

.right-item li:not(:last-child) {
   margin-right: 10px;
}
.border-right {
   padding-right: 1rem !important;
}
.right-item a, .left-item a {
   color: var(--color);

}

/* Brand Section */

.search-container {
   margin: 2rem auto;
   width: 96%;

}
.brand-name {
   display: flex;
   justify-content: center;
   align-items: center;
   filter: opacity(100%);
   cursor: pointer;
}
.brand-name h2 {
   font-size: var(--font-size-big);
   font-weight: var(--font-bold);
   color: var(--store-color);
}

.brand-name:hover {
   filter: opacity(80%);
}

.car-logo {
   width: 100px;

}

.search-form {
   width: 100%;
   margin-top: 1rem;
}

.search-form .form-input {
  width: 60%;
  padding: .4rem;
  outline: none;
}

.search-form .form-input:active, .search-form .form-input:focus {
   outline: none;
   border-radius: none;
}

.search-form .search-btn {
   width: 30%;
   outline: none;
   border: none;
   padding: .65rem .5rem;
   margin-left: .5rem;
   background-color: var(--store-color);
   color: var(--color);
   filter: opacity(100%);
   transition: all .3s ease-in;

}

.search-form .search-btn:hover{
   filter: opacity(70%);
}

.search-section {
   display: flex;
   justify-content: space-between;
   align-items: center;
}

/* NAVBAR SECTION */

.nav-bg {
   background-color: var(--main-nav-bg);
}
.navbar-light .navbar-nav .nav-link {
     color: #000000 !important;
}
.navbar-light .navbar-nav .nav-link:hover, .navbar-light .navbar-nav .nav-link:focus {
   color: var(--store-color) !important;
}

#select-items {
   width: 10rem !important;
   margin-top: 1rem;
}

.cart-search {
   margin-top: 1rem;
   font-size: var(--font-size-normal);
   background: var(--dark-color);
   color: var(--color);
   padding: .65rem 1rem;
   border-radius: 5px;
   cursor: pointer;
   transition: all .3s ease-in-out;
}

.cart-search:hover {
   background-color: var(--store-color);
}

/* Products */

/* .men-thumb-item {
    position: relative;
} */
.new__box {
   position: relative;
   overflow: hidden;
}
.new__box:hover .new__link {
   top: 0;
   cursor: pointer;
}
.new__link {
  position: absolute;
  top: -100%;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all .3s ease-in-out;
}

.btn_details{
   background: hsla(205, 92%, 41%, 0.72);
   color: #fff;
   display: inline-block;
   height: 37px;
   font-size: 15px;
   letter-spacing: 1px;
   line-height: 34px;
   border-radius: 4px;
   padding: 0 1rem;

}
a.btn_details:hover {
   text-decoration: none;
   background-color: var(--dark-color);
   color: var(--color);
}


.pt-1, .py-1 {
   padding-top: 0.25rem !important;
}

.item-info-product h4 a {
   color: #000;
   font-size: 17px;
   letter-spacing: 1px;
}
span.item_prices {
   font-size: 18px;
   color: #d60404 !important;
}

.snipcart-details {
   width: 77%;
   margin: 10px auto;
}
.snipcart-details button.button {
   font-size: 13px;
   color: #fff;
   background: #0879c9;
   text-decoration: none;
   border: none;
   border-radius: 0;
   width: 100%;
   text-transform: uppercase;
   padding: 13px;
   outline: none;
   letter-spacing: 1px;
   box-shadow: 0px 4px 8px 0px rgb(0 0 0 / 45%);
   font-weight: 600;
   transition: 0.5s all;
   -webkit-transition: 0.5s all;
}
.snipcart-details button.button:hover {
   background-color: var(--dark-color);
}

/* Pagination */
.paginated-nav {
   display: flex;
   justify-content: center !important;
}

.page-link {
   cursor: pointer;
}
.search__title {    
   color: #F45C5D;
   font-size: 21px;
   margin-top: -2rem;
}

/* Advert Section */

.product-sec1.product-sec2 {
   background: #F45C5D;
   position: relative;
}
.product-sec1 {
   box-shadow: 0px 0px 15px 0px #d6d6d6;
}

h3.effect-bg {
   color: #fff;
   font-size: 45px;
   letter-spacing: 3px;
   font-weight: 600;
   margin-top: 2.2em;
}

p.l-nut-middle {
    position: absolute;
    right: 47%;
    bottom: 42%;
    font-size: 31px;
    font-weight: 800;
    color: rgba(10, 10, 10, 0.38);
    transform: rotate(-64deg);
    -ms-transform: rotate(-64deg);
    -webkit-transform: rotate(-64deg);
    z-index: 100;
}

.advert__img {
   vertical-align: middle;
   border-style: none;
   width: 100%;
   z-index: 1;
}

/* Jumbotron */

.jumbotron {
   background: url(/car-fancy.jpg) no-repeat center fixed;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    -ms-background-size: cover;
    text-align: center;
}

.join-agile {
   background: #efedee;
   box-shadow: 0px 0px 5px 2px rgb(0 0 0 / 4%);
   border-radius: 4px;
}

.offer-name {
   margin-top: 4em;
}

.offer-name h6 {
   color: #F44336;
   font-size: 18px;
}
.offer-name h4 {
   font-size: 27px;
}
.offer-name p {
      margin: 0;
      letter-spacing: 1px;
      font-size: 15px;
      line-height: 1.9;
      color: #999;
      font-family: 'Open Sans', sans-serif;
}
.offerimg {
   width: 100%;

}

/* Aside */

.btn__item__search:hover {
   background-color: #000000 !important;
   border-radius: #000000 !important;
   outline: none;
   transition: .3s ease;
}

h3.agileits-sear-head {
   color: #F45C5D;
   font-size: 21px;
}

.search-range ul li {
   display: block !important;
   margin-left: -2.3rem !important;
}
.search-range ul li:hover {
   cursor: pointer;
}
input[type="radio"], input[type="checkbox"] {
   margin: 4px 4px 0 0;
}

input.checked {
   display: inline-block;
   cursor: pointer;
}
.discount__check li {
   margin-left: -2.3rem !important; 
}
.discount__check li span {
   color: var(--dark-color);
}

.customer-rev ul li {
   list-style: none;
}
.left-side ul li {
   display: inline-block;
   width: 100%;
   margin-bottom: 6px;
}
.customer-rev ul li .i {
   color: #FFC107;
}

/* FOOTER */

h2.footer-top-head {
   font-size: 22px;
}

p.footer-main {
   color: #383737;
   font-size: 15px;
   /* margin-bottom: 40px; */
}

.icon-fot {
   text-align: center;
}
.text-form-footer {
   padding: 0;
}

.text-form-footer h3 {
   color: #000;
   font-size: 27px;
   letter-spacing: 2px;
   font-weight: 600;
   line-height: 1.3;
}

p {
   margin: 0;
   letter-spacing: 1px;
   font-size: 15px;
   line-height: 1.9;
   color: #999;
   font-family: 'Open Sans', sans-serif;
}

.icon-fot.i {
   font-size: 41px;
   line-height: 1.4;
   color: #0879c9;
}

/* Secondary Footer */

.middlefooter-sec {
   background: #333;
}
.footer-info h3 {
   font-size: 22px;
   letter-spacing: 1px;
}

.footer-grids ul li {
   /* display: block; */
   font-size: 14px;
   color: #bdbdbd;
}
.footer-grids ul li a{
   font-size: 14px;
   color: #bdbdbd;
   transition: .5s all;
}

.footer-grids ul li a:hover {
   color: var(--store-color);
   text-decoration: none;
}

.footer-grids ul li .i {
   color: #f45c5d;
   padding-right: 10px;
   font-family: 'Font Awesome 5 Free';
   font-size: 24px;
   font-weight: 900;
}

.footer-grids ul li {
   margin-left: -2rem;
}

.footer-form input[type="email"] {
   display: inline-block;
   background: #f5f5f5;
   border: none;
   width: 72%;
   padding: 10px;
   color: #000;
   letter-spacing: 1px;
}
.footer-form-group .form-control {
   border-radius: 0;
}
.footer-form-btn {
    margin-left: 2px;
    padding: 7px 10px;
    border: none;
    outline: none;
    background-color: var(--store-color);
    color: var(--color);
    transition: all .3s ease-in-out;
    cursor: pointer;
}

.footer-form-btn:hover {
   background-color: var(--secondary-background);
}



.footer-info h3 {
   font-size: 22px;
   letter-spacing: 1px;
}



.social .fb {
   font-size: 20px;
   margin-bottom: 4px;
}
.facebook {
   background: #6788ce;
   text-align: center;
   cursor: pointer;
   color: var(--color);
   padding: .3rem;
   border-radius: 50%;
   filter: opacity(1);
   transform: all .3s ease-in;
}
.social .tw {
   font-size: 20px;
   margin-bottom: 4px;
}
.twitter {
   background: #00ACEE;
   text-align: center;
   color: var(--color);
   cursor: pointer;
   padding: .3rem;
   border-radius: 50%;
   filter: opacity(1);
   transform: all .3s ease-in;
}
.social .gp{
   font-size: 20px;
   margin-bottom: 4px;
}
.google  {
   background: #DD4B39;
   text-align: center;
   color: var(--color);
   cursor: pointer;
   padding: .3rem;
   border-radius: 50%;
   filter: opacity(1);
   transform: all .3s ease-in;
}

.facebook:hover, .twitter:hover, .google:hover {
   filter: opacity(0.8);
}

/* Payment Method */

.sub-some h5 {
   font-size: 19px;
   color: #696969;
   letter-spacing: 1px;
}
.sub-some ul li {
   display: inline-block;
}
.sub-some ul li a {
   font-size: 13px;
   color: #999;
}

.align-left-items {
   margin-left: -3rem;
}

.card-payments {
   width: 100%;
   overflow-x: hidden;
   margin-left: -3rem;
}

.card-payments img {
   width: 50px;
}

/* Copyright */

.copy-right {
   background: #0879c9;
}
.copy-right p {
   letter-spacing: 2px;
   font-size: 15px;
}
/* Media Queries */

@media screen and (min-width: 768px){
   .container-nav {
       text-align: inherit;
       display: flex;
       justify-content: space-between;
       align-items: center;
       padding: 0 3rem;
   }
 .right-item {
     margin-top: 1rem;
 }

 .search-form .form-input {
    width: 500px;
    border: 1px solid #b2b6b6;
    padding: .65rem;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, .3);
 }
 .search-form  {
   margin-right: 100px;
}
#select-items {
   width: 18rem !important;
}


}
@media screen and (min-width: 992px){
.col-lg-3 {
    flex: 0 0 25%;
    max-width: 25%;
}
}

@media screen and (min-width: 1024px){
   .search-container {
       display: flex;
       justify-content: space-evenly;
       align-items: center;
       width: 100%;
   } 
   .search-form {
       display: flex;
       align-items: center;
       margin-bottom: 1rem;
   }
 
   .cart-search {
       margin-bottom: 1rem;
   }
}